
/*KPIs*/
div.css-ocqkz7.e1tzin5v4{
    background-color: rgba(250, 235, 215, 0.47);
    border-color: black;
    padding: 20px 50px ;
    border:1px;
    border-radius: 10px;
    border-style: solid;
}

div.css-12w0qpk.e1tzin5v2{
    background-color: rgb(255, 226, 186);
    border-color: rgb(255, 192, 110);
    border-left-width: thick;
    padding: 10px 10px  ;
    border-radius: 10px;
    border:1px;
    
}

div.css-edivx2.e16fv1kl3{
    color: black;
}



section.main.css-k1vhr4.egzxvld5{
    background-color:rgba(0, 139, 139, 0.059);
    
}

div.css-zt5igj.e16nr0p33{
    background-color:rgba(250, 235, 215, 0.558);
    padding: 20px 20px 20px ;
    border-radius: 15px;

}
div.dvn-scroller.glideDataEditor{
    
    padding: 20px 20px 20px ;
    border-radius: 15px;
}

div.css-6qob1r.e1fqkh3o3{
    background-color: antiquewhite;
    padding: 20px 20px 20px;
}

div.element-container.css-1ytj69d.e1tzin5v3{
    color: rgb(54, 39, 20);
}